@import "tailwindcss";

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}


html, body {
  overflow-x: hidden; /* Emergency fix for horizontal scroll */
}


body {
  /* font-family: 'Roboto', sans-serif; */
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.2;
}





